version: '2'
services:
  web:
    scale: 1
    start_on_create: true
  db:
    scale: 1
    start_on_create: true
  auth-lb:
    scale: 1
    start_on_create: true
    lb_config:
      certs: []
      port_rules:
      - hostname: ''
        path: ''
        priority: 1
        protocol: http
        service: web
        source_port: 8069
        target_port: 8069
    health_check:
      healthy_threshold: 2
      response_timeout: 2000
      port: 42
      unhealthy_threshold: 3
      interval: 2000
      strategy: recreate
